@charset "UTF-8";
/* CSS Document */


/*-----START CAROUSEL-----*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.fade-carousel {
    position: relative;
    height: 85vh;
}
.fade-carousel .carousel-inner .item {
    height: 85vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: transparent;
    border-color: #fff;
    opacity: .7;
  width: 12px;
    height: 12px;
}
.fade-carousel .carousel-indicators > li.active {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color:  #fff;
  border-color:  #fff;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.15);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
}
.heroo{
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  color: #ccc;
  text-align: center;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .2s;
       -moz-transition: 2s all ease-in-out .2s;
        -ms-transition: 2s all ease-in-out .2s;
         -o-transition: 2s all ease-in-out .2s;
            transition: 2s all ease-in-out .2s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .2s;
       -moz-transition: 2s all ease-in-out .2s;
        -ms-transition: 2s all ease-in-out .2s;
         -o-transition: 2s all ease-in-out .2s;
            transition: 2s all ease-in-out .2s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
/*    z-index: 2;*/
    background-color: #080d15;
    opacity: .3;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 10px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}
.btn.btn-sign{
    padding: 8px 18px;
    color: #fff;
    outline: none;
    background-color: #DF405A;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4{
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../images/bg-2.JPG);
}
.fade-carousel .slides .slide-2 {
  background-image: url(../images/bg-1.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../images/bg-3.jpg);
}
.fade-carousel .slides .slide-4 {
  background-image: url(../images/bg-4.JPG);
}

/********************************/
/*          Media Queries       */
/********************************/
@media only screen and (min-device-width: 980px){
    .hero { width: 980px; }
  p{font-size: 16px;}
}
@media only screen and (max-device-width: 640px){
    .hero h1 { font-size: 4em; }
  .heroo {font-size: 30px;}
  .ii{padding-top: 10px;}
   p{font-size: 16px;}
}
/*-----END CAROUSEL-----*/







body{ -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-size: 16px;
  background-color: #fff; font-family: Arial, Helvetica, sans-serif; color: #839290;
   line-height: 1.6; font-weight: 400;}
h1,h2,h3,h4,h5,h6{font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0;
margin-bottom: 10px; color: #2e3433; font-weight: 400;}
h1 {font-size: 30px}
h2 {font-size: 20px;}
h3 {font-size: 18px; line-height: 35px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
p {margin: 0 0 20px;}
p:last-child{margin-bottom: 0px;}
ul, ol {margin: 0; }
ul li, ol li {line-height: 1.9;}
a {color: #8d9393; text-decoration: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s;
  transition: all 0.3s;}
a:focus, a:hover { text-decoration: none; color: #03af9e;}
strong{ font-weight: 600;}
.listnone{list-style: none;}
.lead{font-family: 'Adamina', serif; font-size: 21px; line-height: 31px; color: #484d55;}
.italic{font-style: italic;}
.small{font-size: 14px;}
*, *::before, *::after { transition: all .3s ease-in-out; }
abbr[title]{border-bottom: none;text-decoration: none;}
iframe {width: 100%;}
/*---------------- title class ------------*/
.title{color: #333333;}
.heading-title{color: #2f2f2f;}
.text-white{color: #fff;}


/*----------------- template button --------------*/
.btn{display: inline-block; padding: 12px 23px; margin-bottom: 0;
font-size: 14px; font-weight: 600; border-radius: 4px; line-height: 1.42857143;
text-align: center; border:none; text-transform: uppercase; letter-spacing: 1px;}
.bttn{
    display: inline-block; padding: 6px 35px; margin-bottom: 0;
font-size: 14px; font-weight: 600; border-radius: 4px; line-height: 1.42857143;
text-align: center; border:none; text-transform: uppercase; letter-spacing: 1px;background-color: #31708f; color: #fff;
}

  /*--------- btn default --------*/
.btn-default {color: #fff; background-color: #ec6051;}
.btn-default:hover {color: #fff; background-color: #03af9e;}
.btn-default.focus, .btn-default:focus {color: #fff; background-color: #03af9e;}

  /*--------- btn primary --------*/

.btn-primary {background-color: #ec6051; color: #fff;}
.btn-primary:hover {background-color: #d75648; color: #fff;}
.btn-primary.focus, .btn-primary:focus {}

  /*--------- btn outline --------*/

.btn-outline {}
.btn-outline:hover {}
.btn-outline.focus, .btn-outline:focus {}

.btn-white {background-color: #fff; color: #03af9e; border: 3px solid #fff;}
.btn-white:hover {background-color: transparent; border: 3px solid #fff;
  color: #fff;}
.btn-white.focus, .btn-white:focus {background-color: transparent;
  border: 3px solid #fff; color: #03af9e;}

  /*--------- btn link --------*/
.btn-link{color: #ec6051; text-decoration: underline; text-transform: uppercase; font-size: 14px;}
.btn-link:hover{color: #03af9e; text-decoration: underline;}
/*--------- btn size --------*/
.btn-lg {font-size: 14px; padding: 20px 30px; }
.btn-sm  {font-size: 14px; padding: 10px 14px;}
.btn-xs {font-size: 12px;padding: 6px 8px;}

/*--------- selection --------*/
 ::selection {
    background: #ffecb3;
    color: #333;
}
/*-------------- Template Form Inputs ------------*/
.control-label{color: #839290; text-transform: }
.form-control{width: 100%; height: 54px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #333;
  background-color: #fff; border: 2px solid #dfe2e5; background-image: none;
  border-radius: 0px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075); margin-bottom: 10px;}
.form-control:focus {border-color: #66afe9; outline: 0;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); background-color: #eaeaea;}
.textarea.form-control{background-color: #fff; height: auto;}
.required{color: red}
.input-group-addon {color: #fff; text-align: center; background-color: #ec6051;}
/*-----------------------------------
space css class
-----------------------------------*/
/*---------------
 Section Space

 * Section space help to create top bottom space.
 *

-----------------*/
.section-space20{padding-top: 20px;padding-bottom: 20px;}
.section-space40{padding-top: 40px;padding-bottom: 40px;}
.section-space60{padding-top: 60px;padding-bottom: 60px;}
.section-space80{padding-top: 40px;padding-bottom: 40px;}
.section-space100{padding-top: 100px;padding-bottom: 100px;}

/*----------------
margin space
-----------------*/
.mb0{margin-bottom: 0px;font-family: 'Roboto', sans-serif;}
.mb10{margin-bottom: 10px;font-family: 'Roboto', sans-serif}
.mb20{margin-bottom: 20px;font-family: 'Roboto', sans-serif;text-align: center;}
.mb30{margin-bottom: 30px;font-family: 'Roboto', sans-serif}
.mb40{margin-bottom: 40px;font-family: 'Roboto', sans-serif}
.mb60{margin-bottom: 40px;font-family: 'Roboto', sans-serif}
.mb80{margin-bottom: 40px;font-family: 'Roboto', sans-serif}
.mb100{margin-bottom: 50px;font-family: 'Roboto', sans-serif}

.mt0{margin-top: 0px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt60{margin-top: 40px;}
.mt80{margin-top: 40px;}
.mt100{margin-top: 50px;}
.mm{list-style-type: none;}

/*---------------
padding space
-----------------*/
.no-padding{padding-right: 0; padding-left: 0;}
.no-pdl{padding-left: 0;}
.no-pdr{padding-right: 0;}

.pinside10{padding: 10px;}
.pinside20{padding: 20px;}
.pinside30{padding: 30px;}
.pinside40{padding: 40px;}
.pinside50{padding: 50px;}
.pinside60{padding: 40px;}
.pinside80{padding: 40px;}

.pdt10{padding-top: 20px;}
.pdt20{padding-top: 20px;}
.pdt30{padding-top: 30px;}
.pdt40{padding-top: 40px;}
.pdt60{padding-top: 40px;}
.pdt80{padding-top: 40px;}

.pdb10{padding-bottom: 10px;}
.pdb20{padding-bottom: 20px;}
.pdb30{padding-bottom: 30px;}
.pdb40{padding-bottom: 40px;}
.pdb60{padding-bottom: 60px;}
.pdb80{padding-bottom: 80px;}

.pdl10{padding-left: 10px;}
.pdl20{padding-left: 20px;}
.pdl30{padding-left: 30px;}
.pdl40{padding-left: 40px;}
.pdl60{padding-left: 40px;}
.pdl80{padding-left: 40px;}

.pdr10{padding-right: 10px;}
.pdr20{padding-right: 20px;}
.pdr30{padding-right: 30px;}
.pdr40{padding-right: 40px;}
.pdr60{padding-right: 40px;}
.pdr80{padding-right: 40px;}


/*-----------------------------------------
 background & block color
------------------------------------------*/
.bg-light{background-color: #f5f7f7; }
.bg-primary{background-color: #03af9e;}
.bg-default{}
.bg-white{background-color: #fff;}
.outline{}
.section-title{}
.content{padding-bottom: 100px;padding-top: 100px;}
.primary-sidebar{}
.secondary-sidebar{}

/*-------------- Bullet point -------------*/

.bullet{position: relative; padding-left: 15px; color: #3fb9ab; line-height: 32px;}
.bullet-angle-right li:before {font-family: FontAwesome; display: block;
 position: absolute; left: 0; width: 13px; font-size: 14px; color: #3fb9ab;
 content: "\f105";}

 /*----------------- Image Hover Effect ---------------*/
img { width: auto; max-width: 100%; height: auto; margin: auto; padding: 0; border: none; line-height: normal; vertical-align: middle; }
.imghover { display: block; position: relative; max-width: 100%; }
.imghover::before, .imghover::after { display: block; position: absolute; content:''; text-align: center; opacity: 0; }
.imghover::before { top: 0; right: 0; bottom: 0; left: 0; }
.imghover::after { top: 50%; left: 50%; width: 50px; height: 50px; line-height: 50px; margin: -25px 0 0 -25px; content: "\f2a8";
font-family: "FontAwesome"; font-size: 36px; }
.imghover:hover::before, .imghover:hover::after { opacity: 1; }
.imghover:hover::before { background: rgba(39, 36, 36, .55); }
.imghover:hover::after { color: #FFFFFF; }

/*--------------- Features block class --------------*/

.feature{}
.feature-icon{font-size: 32px; color: #03af9e; margin-bottom: 20px;}

/*-------- feature icon left --------*/

.feature-left{}
.feature-left .feature-icon{float: left;}
.feature-left .feature-content{padding-left: 60px;}

/*-------- feature inner padding --------*/

.feature-inner{}
.feature-outline{}

/*---------------- Thumbnail Block ------------*/

.thumbnail-block{}
.thumbnail-img{}
.thumbnail-content{}
.thumbnail-inner{}
.thumbnail-outline{}
.logo{}
/*------------------ top herder ----------------*/
.top-header{margin: 10px 0; font-family: 'Roboto', sans-serif; font-weight: 600;
    color: #2e3433;}
.top-link{margin-top: 13px; text-align: right;}
.top-link i{margin-right: 12px; border: 1px solid #03af9e; width: 32px;
height: 32px; border-radius: 100%; text-align: center; color: #03af9e;
    padding-top: 6px;}
.top-link ul li a{}

/*------------------ Navigation ----------------*/

.header{    background-color: rgb(5, 68, 115);; -webkit-transition: background-color .8s ease-out;
  -moz-transition: background-color .8s ease-out; -o-transition:
  background-color .8s ease-out; transition: background-color .8s ease-out;
  position: relative;
 font-family: 'Roboto', sans-serif; z-index: 9;}
.navigation{ }

#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {margin: 0; padding: 0; border: 0; list-style: none;
  line-height: 1; display: block;
  position: relative; -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; box-sizing: border-box;}

  /*--EXECUTIVE--*/
  .exec img{
    width: 150px;
    height: 150px;
    margin-top: 80px;

  }
  .exec{
    padding: 50px 0 80px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
  }
  .exec b,.exec h2,.exec h4{
    margin: 20px 0 20px;
    color: #4c4c4c;
  }
  .exec p{
    color: #737373;
    font-size: 18px;
  }
  .exec i{
    height: 30px;
    width: 30px;
    padding: 7px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
  }
  .exec a:hover {
    background-color: 709963;
  }
 .nonexec{
     width: 20%; 
     padding: 15px;
}
.nonexec b, .exec b{
    display: block;
}

@media screen and (max-width: 992px) {
    .nonexec{width: auto;}
}

  .bottom-up{
  padding-top: 7%;
  font-size: 30px;
}
.bottom-up span{
  color: royalblue;
}
.bottom-up span:hover{
  color: skyblue;
}
.fa{
  padding: 5px; color: #aaa;
}
.fa:hover{
  text-decoration: none;
}
.fa-instagram:hover{
  background-color:#9400d3;
  color: #fff;
  border:1px solid #9400d3 ! important;
}
.fa-twitter:hover{
  border:1px solid #00bfff ! important;
  background-color:#00bfff;
  color: #fff;
}.fa-facebook:hover{
  background-color:#00008b;
  color: #fff;
  border:1px solid #00008b ! important; }
.fa-google:hover{
  background-color:#cd5c5c;
  color: #fff;
  border:1px solid #cd5c5c ! important;
}
.fa-linkedin:hover{
  background-color:#1e90ff;
  color: #fff;
  border:1px solid #1e90ff ! important;
}
  /*--END EXECUTIVE--*/

/*#navigation:after,
#navigation > ul:after {content: "."; display: block; clear: both;
visibility: hidden; line-height: 0; height: 0;}*/
#navigation #menu-button {display: none;}
#navigation {background: transparent;}
#navigation > ul > li {float: left;}
#navigation.align-center > ul {font-size: 0; text-align: center;}
#navigation.align-center > ul > li {display: inline-block; float: none;}
#navigation.align-center ul ul {text-align: left;}
#navigation.align-right > ul > li {float: right;}
#navigation > ul > li > a {padding: 18px 15px; font-size: 14px; text-decoration: none;
color: #fff;  font-weight: 600; letter-spacing: 1px;  font-family: 'Delius Swash Caps', cursive;}
#navigation > ul > li > a:hover {color: #fff;   padding: 18px 15px;}
#navigation > ul > li.has-sub > a {padding-right: 30px;}
/*#navigation > ul > li.has-sub > a:after {position: absolute; top: 22px; right: 11px; width: 8px; height: 2px;
  display: block; background: #dddddd; content: '';}*/
#navigation > ul > li.has-sub > a:before {position: absolute; right: 14px; font-family: FontAwesome; content: "\f107";
  -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease;
  -o-transition: all .25s ease; transition: all .25s ease;}
#navigation > ul > li:before {position: absolute; right: 0px; top: 15px;
  color: #054473; font-family: FontAwesome; content: "|";
  -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease;
  -o-transition: all .25s ease; transition: all .25s ease;}
#navigation > ul > li:last-child:before{content: " ";}
/*#navigation > ul > li.has-sub:hover > a:before {top: 23px; height: 0;}*/
#navigation ul ul {position: absolute; left: -9999px;}
#navigation.align-right ul ul {text-align: right; }
#navigation ul ul li {height: 0; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
#navigation li:hover > ul {left: auto;}
#navigation.align-right li:hover > ul {left: auto; right: 0;}
#navigation li:hover > ul > li {height: 35px;}
#navigation ul ul ul {margin-left: 100%; top: 0; }
#navigation.align-right ul ul ul {margin-left: 0; margin-right: 100%; }
#navigation ul ul li a {border-bottom: 1px solid rgba(150, 150, 150, 0.15); padding: 15px 15px; width: 130px;
  font-size: 13px; text-decoration: none; color: #03af9e; font-weight: 500; background: #fff;
    text-transform: uppercase;}
#navigation ul ul li:last-child > a,
#navigation ul ul li.last-item > a {border-bottom: 0;}
#navigation ul ul li:hover > a,
#navigation ul ul li a:hover {color: #ff5448;}
#navigation ul ul li.has-sub > a:after {position: absolute; top: 16px; right: 11px; width: 8px; height: 2px;
  display: block; background: #dddddd; content: '';}
#navigation.align-right ul ul li.has-sub > a:after {right: auto; left: 11px;}
#navigation ul ul li.has-sub > a:before {position: absolute; top: 13px; right: 14px; display: block; width: 2px;
  height: 8px; background: #dddddd; content: ''; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
#navigation.align-right ul ul li.has-sub > a:before {right: auto; left: 14px;}
#navigation ul ul > li.has-sub:hover > a:before {top: 17px; height: 0;}
#navigation.small-screen {width: 100%;}
#navigation.small-screen ul {width: 100%; display: none;}
#navigation.small-screen.align-center > ul {text-align: left;}
#navigation.small-screen ul li {width: 100%; border-top: 1px solid rgba(120, 120, 120, 0.2);}
#navigation.small-screen ul ul li,
#navigation.small-screen li:hover > ul > li {height: auto;}
#navigation.small-screen ul li a,
#navigation.small-screen ul ul li a {width: 100%; border-bottom: 0;}
#navigation.small-screen > ul > li {float: none;}
#navigation.small-screen ul ul li a {padding-left: 25px;}
#navigation.small-screen ul ul ul li a {padding-left: 35px;}
#navigation.small-screen ul ul li a {color: #fff; background: none;}
#navigation.small-screen ul ul li:hover > a,
#navigation.small-screen ul ul li.active > a {color: #fff;}
#navigation.small-screen ul ul,
#navigation.small-screen ul ul ul,
#navigation.small-screen.align-right ul ul {position: relative; left: 0; width: 100%; margin: 0; text-align: left;}
#navigation.small-screen > ul > li.has-sub > a:after,
#navigation.small-screen > ul > li.has-sub > a:before,
#navigation.small-screen ul ul > li.has-sub > a:after,
#navigation.small-screen ul ul > li.has-sub > a:before { display: none;}
#navigation.small-screen #menu-button {display: block; padding: 17px; color: #fff; cursor: pointer; font-size: 12px;
  text-transform: uppercase; font-weight: 700;}
#navigation.small-screen #menu-button:after {position: absolute; top: 22px; right: 17px; display: block; height: 8px;
  width: 20px; border-top: 2px solid #fff; border-bottom: 2px solid #fff; content: '';}
#navigation.small-screen #menu-button:before {position: absolute; top: 16px; right: 17px; display: block; height: 2px;
  width: 20px; background: #fff; content: '';}
#navigation.small-screen #menu-button.menu-opened:after {top: 23px; border: 0; height: 2px; width: 15px;
  background: #fff; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); transform: rotate(45deg);}
#navigation.small-screen #menu-button.menu-opened:before {top: 23px; background: #fff; width: 15px;
  -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg); transform: rotate(-45deg);}
#navigation.small-screen .submenu-button {position: absolute; z-index: 99; right: 0; top: 0; display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.2); height: 50px; width: 50px; cursor: pointer;}
#navigation.small-screen .submenu-button.submenu-opened {background: #19978a;}
#navigation.small-screen ul ul .submenu-button {height: 34px; width: 34px; }
#navigation.small-screen .submenu-button:after {position: absolute; top: 22px; right: 19px; width: 8px; height: 2px;
  display: block; background: #fff; content: '';}
#navigation.small-screen ul ul .submenu-button:after {top: 15px; right: 13px;}
#navigation.small-screen .submenu-button.submenu-opened:after {background: #fff; }
#navigation.small-screen .submenu-button:before {position: absolute; top: 19px; right: 22px; display: block;
  width: 2px; height: 8px; background: #fff; content: '';}
#navigation.small-screen ul ul .submenu-button:before {top: 12px; right: 16px;}
#navigation.small-screen .submenu-button.submenu-opened:before {display: none;}
#navigation.small-screen.select-list { padding: 5px;}

.navigation-search{}
.navigation-search i{color: #fff; margin-top: 17px; float: right;}
/*-------------- page header ------------*/
.page-header{background: linear-gradient(rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)), rgba(0, 0, 0, 0.6) url(../images/bg.JPG) no-repeat center;
background-size: cover; margin: 0;}
.page-caption{padding: 105px 0;}
.page-title{color: #fff;}
.page-containt{font-size: 14px; color: #fff;}
/*-------------- breadcrumb ------------*/
.breadcrumb{}
.breadcrumb>.active {}
/*-------------- slider ------------*/

.intro-caption{color: #fff; padding-top: 100px; padding-bottom: 150px; font-size: 18px;}
.intro-title{font-size: 52px; color: #fff; line-height: 58px;}
/*-------------- cta ------------*/
.cta{}
.cta-text{ font-size: 24px;}

/*-----ZOOM-------*/
.zoom:hover {
/*    -ms-transform: scale(1.5);  IE 9 */
/*    -webkit-transform: scale(1.5);  Safari 3-8 */
/*    transform: scale(1.5); */

}
.zoom{
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*---VISION MISSION----*/
/*________________Services____________________*/
.section{
     background-color:;
}
.service {
  width: 100%;
  height: 320px;
  margin: 80px 0;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service .icon-holder {
  position: relative;
  top: 100px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service .heading {
  position: relative;
  top: 80px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
  width: 40px;
}

.service:hover {
  border-color: #00a8ff;
}

.service:hover .icon-holder {
  top: -30px;
}

.service:hover .heading {
  top: -30px;
}

.service .description {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.service:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#mission{
  font-family: 'Josefin Sans', sans-serif;
}
.mission {padding-top: 40px;}
.information {padding-top: 50px;padding-bottom: 100px;}
.info{padding: 5%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.contact{}
.heading{ font-weight: bold;}
@media only screen and (max-device-width:736px){.map{padding-top: 50px;}}
.message{padding-top: 50px;}
.head{text-align: center; padding: 3px;}
p{font-size: 18px;}
article{ background-color: #fff; font-family: 'Lato', sans-serif;}
/*------END MISSION VISION---*/

#nn{
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*-----news and events------------*/
.newsandevents { background-color: #fff;}
.newsitem {margin-bottom: 40px; padding: 1px 30px;}
.newsitem p{margin-top: 20px;}
.bton {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); color: black; font-size: 20px; padding: 12px 30px; border: 1px solid gray; cursor: pointer; border-radius: 5px; background-color: #ffffff;}
.bton:hover {
  background-color: dodgerblue;
}

/*--------end of news and events---*/

/*------sermon content stylings------*/
.sermons{margin-top: 50px;}
.sermons li{width: 33%;}
.sermonitem{width: 100%; padding: 10px; margin-bottom: 20px ; float: left; text-align: center;}
.sermonitem div{display: block;}
.sermonitem div button{background-color: rgb(5, 68, 115);}
.sermonitem div span{font-family: Verdana, Geneva, sans-serif; font-weight: 700;}
.sermonitem div:first-of-type img{object-fit: scale-down; border: 2px groove #d9d9d9;}
.sermonitem div:last-of-type a{display: inline-block;}
/*------sermon content stylings------*/

/*-------countdown timer stylings--------*/
#timer{font-size:3vw;color:#fff;margin:auto;padding:0.4vw 0.5vw;display:inline-block;width:20%;border-radius:10px;text-align:center;background:rgba(0,0,0,0.75);box-shadow:inset 0 -5px 0 rgba(0,0,0,0.5)}
#timer:after{font-size:1.6vw;display:block;margin:2px 0 1px;opacity:.8}
#timer:nth-of-type(1):after{content:"days"}  #timer:nth-of-type(2):after{content:"hrs"}
#timer:nth-of-type(3):after{content:"min"}   #timer:nth-of-type(4):after{content:"sec"}
div .countdown{position:relative; margin-top: 5px;}
.countdown ul{margin: 1px -15px;}
.countdown ul:before{position:absolute;margin-top: 55px;text-align:center;width:100%;left:0;font-size:2vw;color:white;FONT-WEIGHT:BOLD}
.countdown ul:after{position:absolute;text-align:center;width:100%;left:0;font-size:1.4vw;color:white;bottom:-4vw;}
.countdown h3{font-weight: bold;font-family: 'Bitter', serif; text-align: center; margin-top: 60px;}
/*-----end of countdown timer------------*/

/*--gallerystylings--*/

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.img, .demo{
  object-fit: scale-down;
  height: 150px;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.column {
  float: left;
  width: 100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.column {
  float: left;
  width: 50%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.column {
  float: left;
  width: 25%;
}
} 
/*--end of gallery css--*/

/*------------resources css---------*/
.lib p{
  border: 1px solid grey; 
  padding: 10px;
}
.activ{
  font-weight: bolder;
    color: black;
}
.booknav ul li{
  display: inline;
}
.booknav ul{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.menulist ul{
    display: none;
    border: 1px solid gray;
    margin-top: -20px;
}
.lib:hover .menulist ul{
    display: block;
}
ul{
  list-style-type: none;
}
.booknav{
  padding: 10px;
    margin: auto;
}
.booknavitem{
  padding: 15px;
}

.searchboxwrapper {
position: relative;
}
.searchboxwrapper button{
position: absolute;
}
.searchboxwrapper button i{
padding: 8px  10px 14px;
font-size: 22px;
}

.searchbox {
border: 1px solid #dadada;
font: 14px 'Montserrat', sans-serif;
color: #777;
background: #fff;
padding: 16px;
margin-right: -4px;
position: relative;
}
.bkdata{text-align: center;}
.bkdata span{font-weight: bold; display: block; width: 130%; transform: translateX(-10%);}
.buklib .row{margin: auto;}
.books li{ width: 19%; display: inline-block; padding:0 25px;margin-top: 40px;
}
.bookshelfitem{ position: relative;}
.bookshelfitem:after{position: absolute; border-bottom: 5px ridge gray; width: 103%; content: ''; transform: translateX(-50%); bottom: 60px; left: 50%;
}
li .bookshelfitem img {display: block; margin-left: auto; margin-right: auto; width: 100%;}

/*------------end of resources css---------*/

/*-------------- footer ------------*/
.footer{background-color: rgb(5, 68, 115);}
.footer{font-family: Arial, Helvetica, sans-serif;}
.footer-title{margin-bottom: 25px; color: #fff; text-transform: uppercase;}
.footer-widget{color: #7f8685;}
.contact{padding-left: 0px;}
.footer-widget .contact ul{}
.footer-widget .contact li {position: relative; padding-left: 30px;
  margin-bottom: 20px;}
.footer-widget .contact li i {display: block; position: absolute; top: 2px;
  left: 0; width: 30px; font-size: 18px; text-align: center; color: #03af9e; }
.footer-widget p{color: #7f8685;}
.footer-widget address{display: flex;}
.footer-call{margin-bottom: 5px;}
.footer-email{}
.footer-link{color: #7f8685; font-size: 14px;}
.footer-widget i{font-size: 16px; color: #03af9e; padding-right: 10px;
  padding-top: 4px;}
.footer-widget .form-control {height: 44px; color: #161818; background-color: #474e4e;
border: 0px solid;}
.mm li{margin-left: -38px;}

.fa{
  padding: 5px; color: #aaa;
}
.fa:hover{
  text-decoration: none;
}
.fa-instagram:hover{
  background-color:#9400d3;
  color: #fff;
  border:1px solid #9400d3 ! important;
}
.fa-flickr:hover{
  background-color:#9400d3;
  color: #fff;
  border:1px solid #9400d3 ! important;
}
.fa-twitter:hover{
  border:1px solid #00bfff ! important;
  background-color:#00bfff;
  color: #fff;
}.fa-facebook:hover{
  background-color:#00008b;
  color: #fff;
  border:1px solid #00008b ! important; }
.fa-google:hover{
  background-color:#cd5c5c;
  color: #fff;
  border:1px solid #cd5c5c ! important;
}
.fa-linkedin:hover{
  background-color:#1e90ff;
  color: #fff;
  border:1px solid #1e90ff ! important;
}
.social{
  list-style: none;
}
.social li{
  font-size: 20px;
}
.social-icon img{
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 2px;
}
.social-top li{
  font-size: 20px;
}
.social-top li .fa:hover{
  background-color: transparent ! important;
  color: grey;
  border:none ! important;
}
footer .social .social{
  border:1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  margin-right: 10px;
}
footer .social{
  margin-bottom: 0px ! important;
}
/*-------------- tiny footer ------------*/
.tiny-footer{background-color: rgb(5, 68, 115); padding-top: 14px; padding-bottom: 14px;
  font-size: 14px; color: #7f8685; margin-top: -50px; }
   /*-------------Contact Us-------------*/

.contact-info{}
.contact-info-title{font-size: 18px; color: #333;}
.contact-info ul{padding-left: 0px;}
.contact-info li {position: relative; padding-left: 30px; margin-bottom: 30px;}
.contact-info li i {display: block; position: absolute; top: 3px; left: 0; width: 30px; font-size: 18px; text-align: center;
color: #90d7d6; }
.map {height: 400px;}

/*-------------- align ------------*/


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter {display: block; margin: 5px auto 5px auto;}
.alignright {float:right; margin: 0px 0 20px 20px;}
.alignleft {float: left; margin: 0px 20px 20px 0;}
a img.alignright {float: right; margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float: left; margin: 5px 20px 20px 0;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto;}
.wp-caption {background: #fff; border: 1px solid #f0f0f0;  max-width: 96%;
 /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;}
.wp-caption.alignright {margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px;}
.contant{}
.sidebar{margin-bottom: 50px;}
/*-------------- blog css  ------------*/
/*-----blog post listing-----*/

.post-block{}
.post-holder{height: 350px;}
.post-header{position: relative;}
.post-title{}
.post-img{}
.post-sticky {background: url(../images/sticky-sign.png) no-repeat;
 position: absolute; right: 30px; top: 15px; width: 30px; height: 30px;}
.post-meta{font-size: 12px; line-height: 1.4; text-transform: uppercase;
  font-weight: 500; color: #a3aca9;}
  .post-meta i{color: #03af9e; font-size: 12px; margin-right: 7px}
  .meta-date{color: #a3aca9;}
  .meta-author{}
  .meta-comment{}
  .meta-cat{color: #a3aca9;}
  .meta-date, .meta-author, .meta-comment, .meta-cat{display: inline-block;}
.meta-link{color: #909090;}
.meta-tags{}
.post-content{}
.post-meta span {margin-right: 0px;}
.post-meta span:after {margin-left: 5px; margin-right: 15px; color: #b0b0b0; content: "-";}
.post-meta span:last-child:after {margin-left: 0px; margin-right: 0px;
  content: "";}
.meta-doctor{color: #03af9e;}
blockquote{font-size: 18px; padding-left: 0px; font-style: italic;
  color: #2e3433; border-left: 6px solid #ec6051; padding: 35px 40px;}
blockquote p{}
.name{color: #333; font-size: 18px;}
.related-post{}
/*----- prev-next-----*/

.post-navigation{ border-bottom: 1px solid #f0f6f6; padding-bottom: 40px; margin-bottom: 39px;}
.nav-links{}
.nav-previous{}
.prev-link {margin-bottom: 10px; display: block; color: #839290; text-decoration: none; font-size: 14px; font-weight: 500;}
.nav-next{}
.next-link{margin-bottom: 10px; display: block; color: #839290; text-decoration: none; font-size: 14px; font-weight: 500;}

/*-------------- sidebar csss ------------*/
      /*----- widget -----*/
.widget{padding: 30px; background-color: #f3f6f6; margin-bottom: 50px;}
.widget ul li a{padding-left: 15px; line-height: 14px; color: #2e3233;
  font-size: 14px;}
.widget-title{}
.widget-search{}
.widget-categories{}
.widget-categories ul{}
.widget-categories ul li{}
.widget-categories ul li a{}
.post-list{margin-bottom: 30px;}
.widget-link{}
.widget-link:hover{ }
.post-image{}
.post-containt{}
.widget-recent-post{}
.widget-recent-post ul{padding-left: 0px;}
.widget-recent-post ul li{}
.widget-recent-post ul li a{}
.recent-block {}
.recent-title {font-size: 16px; line-height: 24px;}
.related-title{font-size: 16px; line-height: 20px}
.widget-tags {}
.widget-tags a { text-transform: uppercase; padding: 7px 18px;
display: inline-block; margin-bottom: 5px; font-weight: 700; font-size: 12px;
line-height: 12px; color: #fff; background-color: #c6caca; border-radius: 4px;}
.widget-tags a:hover { background-color: #ec6051; color: #fff;}
.widget-text{}
.widget-follwus{}
.widget-contact{}
/*----- Author Post -----*/

.author-post{ border-bottom: 1px solid #f0f6f6; padding-bottom: 40px; margin-bottom: 39px;}
.author-img{}
.author-img img{width: 150px; margin: 0 auto;}
.author-bio{}
.author-meta{font-size: 12px; color: #03af9e;}
.author-name{}
.author-header{float: left;}
.author-content{}
.author-social{text-align: right;}
.author-link{}

/*----- Comment Post -----*/

.comments-area{}
.comments-title{}
.comment-list{}
  .comment{}
  .comment-body{margin-top: 20px;}
  .comment-author{}
  .comment-author img{float: left;}
  .comment-info{padding-left: 150px;}
  .comment-header{}
  .user-title{}
  .comment-meta{}
  .comment-meta-date{text-transform: uppercase; color: #bbc2c3; font-size: 13px;}
  .comment-content{}
.reply{}
.childern{padding-left: 100px;}

/*----- Leave Reply -----*/

.leave-comments{}
/********** Extra Plugin CSS - Back to top **********/

.cd-top {display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px;
  overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(236, 96, 81, 100)
  url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s;
 transition: opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
 -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s;
 transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible { /* the button becomes visible */ visibility: visible; opacity: 1;}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;}
.no-touch .cd-top:hover {background-color: #03af9e; opacity: 1;}




/* service section */
.service-block {position: relative;}
.service-img {height: 190px; background:linear-gradient(rgba(235, 246, 245, 0.9), rgba(235, 246, 245, 0.9)),
  rgba(235, 246, 245, 0.9)  }
.service-book {position: relative;}
.service-imeg { background:linear-gradient(rgba(235, 246, 245, 0.9), rgba(235, 246, 245, 0.9)),
  rgba(235, 246, 245, 0.9)  }
.service-caption {background-color: #90d7d6; padding-left: 10px; position: absolute; width: 100%; bottom: 0px;
 padding: 12px;}
.service-title{font-size: 18px; color: #fff; margin-bottom: 0px;}

/* testimonial section */
.testimonial-info{padding-left: 60px; padding-bottom: 25px;}
.testimonial-icon{font-size: 32px; color: #ec6051; float: left;}
.testimonial-content{font-style: italic; font-family: 'Adamina', serif;
    font-size: 18px; color: #2e3433;}
.testimonial-img{}
.testimonial-text{font-family: 'Roboto', sans-serif; color: #03af9e;}
.testimonial-meta{text-transform: uppercase; color: #a4a8ab; font-size: 12px;
  font-weight: 400;}

/*-------------Pagination-------------*/

.st-pagination { }
.st-pagination .pagination>li>a, .pagination>li>span {position: relative; float: left; margin-left: -1px;
  line-height: 1.42857143; color: #fff; text-decoration: none; font-size:12px; border: 2px solid transparent;
  background-color: #c8c8c8; font-weight: 700; border-radius: 4px; text-transform:uppercase; margin-right: 5px; margin-bottom: 5px;}
.st-pagination .pagination>li>a:focus, .st-pagination .pagination>li>a:hover,
.st-pagination .pagination>li>span:focus, .st-pagination .pagination>li>span:hover {z-index: 2; color: #fff;
  background-color: #ec6051; border-color: transparent; border-radius: 4px;}
.st-pagination .pagination>li:first-child>a, .st-pagination .pagination>li:first-child>span {margin-left: 0;
  border-radius: 4px;}
.st-pagination .pagination>li:last-child>a, .st-pagination .pagination>li:last-child>span {border-radius:  4px;}
.st-pagination .pagination>.active>a, .st-pagination .pagination>.active>a:focus,
.st-pagination .pagination>.active>a:hover, .st-pagination .pagination>.active>span,
.st-pagination .pagination>.active>span:focus, .st-pagination .pagination>.active>span:hover {z-index: 3; color: #fff;
 cursor: default; background-color: #ec6051;  border-radius: 4px; }




/*-------------- other css ------------*/
hr{border-bottom: #f0f6f6; margin-bottom: 30px; margin-top: 30px;}
/*-------------- home page css ------------*/
.cta-call{border-radius: 4px;}
.cta-call i{float: left; font-size: 40px; color: #fff; border: 3px solid #fff;
width: 70px; height: 70px; border-radius: 100%; margin-right: 30px;
text-align: center; padding-top: 13px;}
.cta-title{ font-size: 24px; margin-top: 6px;}
.cta-num{font-size: 20px; margin-bottom: 0;}
.cta-btn{margin-top: 14px; text-align: right;}
.doctor-img{}
.doctor-img img{border-bottom: 3px solid #03af9e;}
.doctor-bio{}
.doctor-bio i{color: #03af9e; font-size: 8px;}

/*-------------- side nav css ------------*/
.sidenav{}
.sidenav ul{}
.sidenav ul li{background-color: #ec6051; padding: 26px 15px;
line-height: 1; border-bottom: 1px solid #da5547;}
.sidenav ul li:hover{background-color: #da5547; border-bottom: 1px solid #da5547;}
.sidenav ul li.active{background-color: #da5547; border-bottom: 1px solid #da5547;}
.sidenav ul li a{font-size: 14px; font-weight: 700; color: #fff;}
.sidenav ul li a:before{font-family: FontAwesome; color: #fff; float: right;
content: "\f105"; width: 13px; font-size: 18px;}
.opening-time{line-height: 30px;}

/*-------------- contact us css -------------*/
.widget-contact li {position: relative; padding-left: 30px; margin-bottom: 20px;}
.widget-contact li i {padding-right: 10px; padding-top: 4px; display: block;
position: absolute; top: 2px; left: 0;
width: 30px; font-size: 18px; text-align: center; color: #03af9e;}
.widget-contact address {display: flex;}
.widget-contact address i{margin-right: 17px; margin-top: 5px; color: #03af9e;}
.solcial-link{font-size: 22px;}


/*-------------- mobile media css ------------*/
@media screen and (max-width: 320px) {

  #navigation.small-screen ul li {border-top: 1px solid transparent;}
  #navigation > ul > li:before {content: "";}
  /*----- intro section -----*/
  .intro-caption {padding-top: 80px; padding-bottom: 80px;}
  .intro-title {font-size: 32px;}
  .navbar-brand {float: none;}
  /*----- cta -----*/
  .cta-text{margin-bottom: 30px; text-align: center;}
  /*----- footer -----*/
  .footer-widget {margin-bottom: 30px;}
  .childern {padding-left: 0px;}
  #timer:after {font-size: 2vw;}
}
/* Custom sizes (768px to 1024px) */

@media screen and (max-width: 768px) {
  #navigation.small-screen ul li {border-top: 1px solid transparent;}
  #navigation > ul > li:before {content: "";}

.navbar-brand {float: none;}
.childern {padding-left: 0px;}
#navigation.small-screen .submenu-button {height: 50px; width: 46px;}
.widget-tags a {padding: 7px 7px; font-size: 10px; line-height: 8px;}
.footer{text-align: center;}
.sermons li{width:33%;}}
@media screen and(min-width: 605) and (max-width: 992px) {.sermons li{width:50%;}}
@media screen and (max-width: 604px) {.sermons li{width: 100%;}}

/*-----media queries for resources page---*/
@media screen and (max-width: 1200px) {
    .onsmallscreen{display: inline-block;}}
@media screen and (max-width: 768px) {
    .col-sm-4 .onsmallscreen, .col-sm-1 .onsmallscreen{width: auto;}}

@media screen and (max-device-width: 768px){
 .books li{ width: 99.999999%;}}
